.center {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #EEEEEE;
  
  .index {
    width: 700px;
<<<<<<< HEAD
    background-color: #EEEEEE;
    margin: 30px 0 100px;

    
=======
    background-color: white;
    margin: 30px 0 100px;

>>>>>>> 86b1aaa... parent child grandchild
    &__title {
      height: 55px;
      width: 700px;
      background-color: #33CCCC;
      color: white;
      font-weight: bold;
      font-size: 22px;
      border-radius: 5px;
      border: none;
      text-align: center;
      line-height: 55px;
    }
    
<<<<<<< HEAD
    &__item {
      background-color: #EEEEEE;
      display: flex;
      overflow: auto;

      &__content {
        background-color: white;
        margin: 6px;
        
        &--image {
          height: 200px;
          object-fit: contain;
        }
        
        &--name {
          height: 40px;
          margin-left: 10px;
          word-wrap: break-word;
        }
        
        &--price {
          margin-left: 10px;
        }
        
        &--tax {
          margin-left: 10px;
          font-size: small;
        }
      }
=======
    &__image {

    }
    
    &__name {

    }

    &__price {

>>>>>>> 86b1aaa... parent child grandchild
    }
  }
}
