.selling-header {
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: #EEEEEE;
  
  &__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.selling-body {
  display: flex;
  justify-content: center;
  background-color: #EEEEEE;

  &__form {
    padding: 30Px;
    background-color: white;

    #error_explanation {
      color: #FF0461;
    }

    &__field {
      color: #444444;
      margin: 10px;

      &__image {
        display: flex;
        margin-bottom: 60px;

        .item-image {
          margin-right: 5px;

          .image-remove {
            height: 25px;
            font-size: small;
            color: #FF0461;
            background-color: #EEEEEE;
            text-align: center;
            line-height: 25px;
            cursor: pointer;
          }
        }
        &--input {
          height: 135px;
          width: 640px;
          background-color: #EEEEEE;
          border: 2px dashed #DDDDDD;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          
          .whole-link {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
  
            .camera-center {
              text-align: center;
              vertical-align: middle;
              
              .fa-camera {
                font-size: large;
                text-align: center;
                cursor: pointer;
              }
              .click {
                font-size: small;
              }
            }
          }
        }
        #item-num-0{
          width: 100%;
        }
        #item-num-1{
          width: 510px;
        }
        #item-num-2{
          width: 380px;
        }
        #item-num-3{
          width: 250px;
        }
        #item-num-4{
          width: 120px;
        }
      }

      .character {
        font-size: small;
        font-weight: bold;
        margin: 30px 0 15px;
      }

      .must {
        height: 16px;
        width: 30px;
        margin: 2px 2px 2px 10px;
        font-size: 11px;
        font-weight: bold;
        background-color: #FF0461;
        border-radius: 3px;
        color: white;
        display: inline-block;
        text-align: center;
      }

      #item_name {
        height: 40px;
        width: 610px;
        font-size: medium;
        padding: 0 15px;
      }
      #item_explanation {
        height: 150px;
        width: 610px;
        font-size: medium;
        padding: 10px 15px;
      }
      #parent_category {
        height: 45px;
        width: 643px;
        font-size: medium;
        padding: 0 10px;
      }
      #item_brand {
        height: 40px;
        width: 610px;
        font-size: medium;
        padding: 0 15px;
      }
      #item_status {
        height: 45px;
        width: 643px;
        font-size: medium;
        padding: 0 10px;
      }
      #item_delivery_burden {
        height: 45px;
        width: 643px;
        font-size: medium;
        padding: 0 10px;
      }
      #item_prefecture_id {
        height: 45px;
        width: 643px;
        font-size: medium;
        padding: 0 10px;
      }
      #item_delivery_day {
        height: 45px;
        width: 643px;
        font-size: medium;
        padding: 0 10px;
      }
      &__category {

        #child_category {
          height: 45px;
          width: 643px;
          font-size: medium;
          padding: 0 10px;  
          margin-top: 17px;
        }
        #grandchild_category {
          height: 45px;
          width: 643px;
          font-size: medium;
          padding: 0 10px;  
          margin-top: 17px;
        }
      }

    }
    .h-character {
      font-size: small;
      font-weight: bold;
      color: #777777;
      margin: 90px 0 2px;
    }
    &__field--sale {
      font-size: small;
      display: flex;
      justify-content: space-between;
      margin: 30px 10px;

      .sale-character {

        .character {
          font-weight: bold;
          margin: 20px 0 15px;
        }
        .must {
          height: 16px;
          width: 30px;
          margin: 2px 2px 2px 10px;
          font-size: 11px;
          font-weight: bold;
          background-color: #FF0461;
          border-radius: 3px;
          color: white;
          display: inline-block;
          text-align: center;
        }
      }
      .sale-value {
        display: flex;
        align-items: center;
        
        #item_price {
          height: 45px;
          width: 260px;
          font-size: medium;
          padding: 0 10px;
          text-align: right;
        }
      }
    }
    &__btn-area {
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;

      .submit-btn {
        height: 50px;
        width: 300px;
        background-color: #33CCCC;
        color: white;
        font-weight: bold;
        font-size: medium;
        border-radius: 5px;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.selling-footer {
  height: 120px;
  background-color: #EEEEEE;
}