%aside.banner
  .banner__title
    だれでもかんたん、人生を変えるフリマアプリ
    %p.banner__title__text 今すぐ無料ダウンロード！
    .banner__title__icon
      %a{ href: "#"}
        = image_tag 'App_Store.svg', class: 'banner__title__icon__app'
      %a{ href: "#"}
        = image_tag 'google-play-badge.svg', class: 'banner__title__icon__google'