-# %body
-#   %header
-#   -if user_signed_in?
-#     = render partial: 'header-login' 
-#   -else
-#     = render partial: 'header-logout' 

.contents
  .success
    %h3
      削除が完了しました。
    %a.btn{:href => "/"} 投稿一覧へ戻る