<body>
  <header class="header">
    <div class="header__top">
    <div>
      <a href="#">
        <img src="/logo/logo.png"class="header__top__tag">
      </a>
      <form class="header__top__searchBox">
        <input class="header__top__searchBox__input-text" placeholder="キーワードから探す" type="text">
      </form>
      <div class="header__top__button">
        <button type="submit">
          <img src="/icon/icon-search.png"class="header__top__button__search-butto">
        </button>
      </div>
    </div>
  </header>

  <main>main</main>
  <footer>footer</footer>
</body>


