.Main__right_logout{
  width: 70vw;
  margin: 70px 150px 200px 10px;
  background-color: #fff;
  border: solid 1px $border_color;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-btn{
    display: block;
    text-decoration: none;
    color: rgb(102, 102, 102);
    font-size: 18px;
    background-color: #3CCACE;
    text-align: center;
    line-height: 300%;
    width: 50%;
    height: 30%;
    border-radius: 5px;
  }
}
