$border_color: rgb(216, 216, 216);
$sidebar_fontcolor: rgb(80, 80, 80);
@mixin box{
  border: solid 1px $border_color;
  height: 50px;
  width: 13vw;
  min-width: 100px;
  line-height: 50px;
  padding-left: 10px;
  font-size: 18px;
  background-color: #fff;
  display: block;
  text-decoration: none;
  color: $sidebar_fontcolor;
}

.Main{
  display: flex;
  background-color: rgb(243, 243, 243);
  width: 100vw;
  &__left{
    padding: 65px 10px 50px 150px ;
    &__sell_title{
      font-size: 22px;
      padding: 0 0 5px 10px;
      display: block;
      text-decoration: none;
      color: #000;
    }
    &__sell_do{
      @include box;
    }
    &__sell_index{
      @include box;
    }
    &__buy_title{
      margin-top: 60px;
      font-size: 22px;
      padding: 0 0 5px 10px;
      display: block;
      text-decoration: none;
      color: #000;
    }
    &__buy_index{
      @include box;
    }
    &__config_title{
      margin-top: 60px;
      font-size: 22px;
      padding: 0 0 5px 10px;
      display: block;
      text-decoration: none;
      color: #000;
    }
    &__config_user{
      @include box;
    }
    &__config_credit{
      @include box;
    }
    &__config_logout{
      @include box;
    }
  }
  &__right{
    width: 70vw;
    margin: 50px 0 100px 10px;
    &__title{
      font-size: 20px;
      height: 10%;
      line-height: 320%;
      border-bottom: solid 1px  $border_color;
    }
    &__sell_index{
      border: solid 1px $border_color;
      margin-top: 40px;
      &-title{
        height: 30px;
        padding-left: 10px;
        line-height: 200%;
        display: block;
        text-decoration: none;
        color: rgb(121, 121, 121);
        border-bottom: solid 1px  $border_color;
        font-weight: bold;
      }
      &-display{
        background: #fff;
        display: flex;
        overflow: auto;
        &__items{
          &-top{
            &-image{
              width: 220px;
              height: 150px;
              object-fit: cover;
            }
          }
          &-bottom{
            color: #333;
            padding: 16px;
            &-name{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
              margin: 0;
              font-weight: normal;
            }
            &-price{
              font-size: 16px;
              margin-top: 5px;
            }
            &-tax{
              font-size: 10px;
            }
          }
        }
      }
    }
    &__buy_index{
      border: solid 1px $border_color;
      height: 200px;
      margin-top: 60px;
      &-title{
        height: 30px;
        padding-left: 10px;
        line-height: 200%;
        display: block;
        text-decoration: none;
        color: rgb(121, 121, 121);
        border-bottom: solid 1px  $border_color;
        font-weight: bold;
      }
      &-display{
        background: #fff;
        display: flex;
        overflow: auto;
        &__items{
          &-top{
            &-image{
              width: 220px;
              height: 150px;
              object-fit: cover;
            }
          }
          &-bottom{
            color: #333;
            padding: 16px;
            &-name{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
              margin: 0;
              font-weight: normal;
            }
            &-price{
              font-size: 16px;
              margin-top: 5px;
            }
            &-tax{
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}