<div class="Sidebar">
  <div class="Sidebar__sell">商品を出品する
    <div class="Sidebar__sell-do">出品する</div>
    <div class="Sidebar__sell-index">出品一覧</div>
  </div>
  <div class="Sidebar__buy">商品を購入する
    <div class="Sidebar__buy-index">購入した商品</div>
  </div>
  <div class="Sidebar__config">設定・その他
    <div class="Sidebar__config-user">プロフィール編集</div>
    <div class="Sidebar__config-credit">クレジット登録</div>
    <div class="Sidebar__config-logout">ログアウト</div>
  </div>
</div>
<div class="Main">
  <div class="Main__title">○○さんのマイページ</div>
  <div class="Main__sell_index">
    <div class="Main__sell_index-title">出品中の商品一覧</div>
    <div class="Main__sell_index-display"></div>
  </div>
  <div class="Main__buy_index">
    <div class="Main__buy_index-title">購入した商品一覧</div>
    <div class="Main__buy_index-display"></div>
  </div>
</div>